<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.user.userimport.dao.ExportDao">


    <select id="getCensusData" resultType="java.lang.String">
        select
        convert(char(8),a.airStartTime,112) addTime
        from tb_order a
        right join tb_certInfo b
        on a.orderNo = b.orderNo
        where DATEDIFF(month, a.airStartTime, #{queryDate}) = 0
        and a.addType = 2
        and a.supplierCode = #{supplierCode}
        and a.airPortCode = #{airPortCode}
        <if test="checkOrderStatus!=null">
            and a.checkOrderStatus = #{checkOrderStatus}
        </if>
        <if test="checkOrderStatus!=null">
            and (a.closeOrderStatus = 0 or a.closeOrderStatus is null)
        </if>
        <if test="orderStatus!=null">
            and a.orderStatus = ${orderStatus}
        </if>
        and (a.deleteOrderStatus =0 or a.deleteOrderStatus is null)


    </select>

    <select id="getCensusDataTest" resultType="com.user.userimport.pojo.CensusData">
        select convert(char(8),a.airStartTime,112) addTime,
        count(*) total
        from tb_order a
        right join tb_certInfo b
        on a.orderNo = b.orderNo
        where DATEDIFF(month, a.airStartTime, ${queryDate}) = 0
        and a.addType = 2
        and a.supplierCode = ${supplierCode}
        and a.airPortCode = ${airPortCode}
        <if test="checkOrderStatus!=null">
            and a.checkOrderStatus = ${checkOrderStatus}
            and (a.closeOrderStatus is null or a.closeOrderStatus = 0)
        </if>
        <if test="orderStatus!=null">
            and a.orderStatus = ${orderStatus}
        </if>
        and (a.deleteOrderStatus != 1 or a.deleteOrderStatus is null)
        group by convert(char(8),a.airStartTime,112)
    </select>

    <select id="uncheckList" resultType="java.util.HashMap">
        SELECT
            a.customName,
            b.airStartTime,
            b.orderSaleNo,
            c.airPortCodeNote,
            b.customTel,
            b.orderMark
        FROM
            tb_certInfo a
            LEFT JOIN tb_order b ON a.orderNo = b.orderNo
            LEFT JOIN tb_airPort c ON b.airPortCode = c.airPortCode
        WHERE
            b.checkOrderStatus = 0
        AND
            DATEDIFF(month,b.airStartTime,#{queryDate}) = 0
        AND
            b.addType = 2
        AND
			b.orderStatus = 3
		AND
		    b.supplierCode = 'QU'
		AND
		    (b.deleteOrderStatus != 1 or b.deleteOrderStatus is null)
		and
		    (b.closeOrderStatus is null or b.closeOrderStatus = 0)
        ORDER BY
            b.airStartTime
    </select>

    <select id="PSTList" resultType="java.util.HashMap">
        SELECT
            b.total,
            c.adminRealName,
            b.formatTime
        FROM
            (
        SELECT
            count( * ) total,
            accountBelong,
            formatTime
        FROM
            (
        SELECT
            accountBelong,
            CONVERT ( VARCHAR ( 100 ), finishOrderTime, 112 ) formatTime
        FROM
            tb_order
        WHERE
            DATEDIFF( MONTH, finishOrderTime, #{queryDate} ) = 0
            AND supplierCode = #{supplierCode}
            AND orderStatus = 3
            AND airPortCode = #{airPortCode}
            AND addType = 2
            and (deleteOrderStatus != 1 or deleteOrderStatus is null)
            ) a
        GROUP BY
            accountBelong,
            formatTime
            ) b
        LEFT JOIN tb_admin c ON b.accountBelong = c.adminName
    </select>

    <select id="getAirPort" resultType="java.util.HashMap">
        select airPortCode,airPortCodeNote from tb_airPort
    </select>

    <select id="getUnContactList" resultType="java.util.HashMap">
        select customTel,supplierCode,airPortCode from tb_order
        where
        orderStatus=2
        AND (closeOrderStatus IS NULL or closeOrderStatus=0)
        AND startOrderTime is null
        AND inputSiteNoTime IS NULL
        AND finishContactTime IS NULL
        AND DATEDIFF(day,airStartTime,#{queryDate}) = 0
    </select>

</mapper>